/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
*.swp
*.swo
*~
.DS_Store
Thumbs.db
/backend/vendor/
/backend/.env
/backend/.env.backup
/backend/storage/*.key
/backend/node_modules/
/backend/public/hot
/backend/public/storage
/backend/storage/app/backups/*
!/backend/storage/app/backups/.gitkeep
/frontend/node_modules/
/frontend/dist/
/frontend/.env.local
